@import "../../../mixins";

.add-modal {
    $padding: 12px;
    position: absolute;

    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);

    padding: $padding;
    border-radius: var(--border-radius);

    height: 128px;
    width: 300px;

    background-color: lightgray;
    border: solid 1px grey;

    textarea {
        position: relative;
        resize: none;
        width: calc(100% - 2 * $padding);
        margin: 12px;
    }

    .buttons {
        @include absoluteCenter();
        width: max-content;

        button {
            &:first-of-type {
                background-color: var(--neg-color-opacity);
            }
            &:last-of-type {
                background-color: var(--pos-color-opacity);
            }
            margin-inline: 8px;

            width: 72px;
            padding: 6px;
            border-radius: var(--border-radius);
        }
    }
}