.todo-item {
    display: flex;
    align-items: center;

    width: 240px;
    height: 32px;
    padding: 8px 16px;
    margin: 8px;

    border: 1px solid whitesmoke;
    border-radius: var(--border-radius);

    background-color: #366ba1;

    .todo-name {
        border-radius: var(--border-radius);
        color: #cddeee;
    }

    &:hover{
        border: 2px solid orange;
    }
}
