:root {
    //  // Sizes
    //  --size-1: 64px;
    //  --size-2: 48px;
    //  --size-3: 32px;
    //  --size-4: 16px;
    //  --size-5: 12px;


    --border-radius: 6px;
    --neg-color-opacity: rgba(240, 128, 128, 0.27);
    --neg-color: rgba(240, 128, 128, 0.9);
    --pos-color-opacity: rgba(32, 178, 132, 0.2);
    --pos-color: rgba(32, 178, 132, 0.8);
}

body{
  margin: 0;
}
