.remove-button {
    $size: 40px;
    $inner-color: white;

    position: absolute;
    bottom: 5%;
    left: 5%;

    height: $size;
    width: $size;

    padding: 8px;

    background-color: lightgray;
    border-radius: 50%;


    &::before, &::after {
        content: '';
        display: block;
        height: $size;
        width: $size; 
    }
    
    &::after {
        border-top: solid 4px $inner-color;
        transform: translateY(-50%);
    }

    &:hover {
        background-color: var(--neg-color);
    }

}